/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*  -> we always use em for media queries*/

/* ********************************  */
/* For Small Laptops(Below 1366px) ->  1366px/16px = 85.375em */
/* ******************************** */
@media (max-width: 85.375em) {
}

/* ********************************  */
/* For Landscape Tablets(Below 1200px) ->  1200px/16px = 75em */
/* ******************************** */

@media (max-width: 75em) {
  /* 9px/16px =  0.5625*/
  /* font-size Adjustment */
  html {
    font-size: 56.25%;
  }
}

/* ********************************  */
/* For Tablet(Below 960px) ->  960px/16px = 60em */
/* ******************************** */
@media (max-width: 60em) {
  /* 8px/16px =  0.5*/
  /* font-size Adjustment */
  html {
    font-size: 50%;
  }
}

/* ********************************  */
/* For Small-Tablets(Below 760px) ->  760px/16px = 47.5em */
/* ******************************** */
@media (max-width: 47.5em) {
  /* 7px/16px =  0.4375*/

  .testimonial {
    padding: 3rem 4rem;
  }
  .testimonials {
    width: 50rem;
    grid-template-columns: 1fr;
  }
  .testimonial-img {
    width: 5rem;
    height: 5rem;
  }
  .testimonial-author,
  .testimonial-statement {
    font-size: 2rem;
  }
  .testimonial-header {
    margin-bottom: 2rem;
  }
  .testimonial-intro {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .testimonial-verified-graduate {
    font-size: 1.8rem;
  }

  .testimonial .testimonial--daniel {
    grid-column: col-start 1 / col-end 1;
    grid-row: row-start 1 / row-end 1;
  }
  .testimonial--jonathan {
    grid-column: col-start 1 / col-end 1;
    grid-row: row-start 2 / row-end 2;
  }
  .testimonial--kira {
    grid-column: col-start 1 / col-end 1;
    grid-row: row-start 3 / row-end 3;
    line-height: 1.4;
  }
  .testimonial--jeanette {
    grid-column: col-start 1 / col-end 1;
    grid-row: row-start 4 / row-end 4;
  }
  .testimonial--patrick {
    grid-column: col-start 1 / col-end 1;
    grid-row: row-start 5 / row-end 5;
  }
}

/* ********************************  */
/* For Phones(Below 560px) ->  560px/16px = 35em */
/* ******************************** */
@media (max-width: 35em) {
  /* 6px/16px =  37.5*/
  html {
    font-size: 37.5%;
  }
}
